/* Fonts */
@font-face {
    font-family: 'Rocker';
    src: url('newrocker-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria';
    src: url('InriaSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: rgb(23, 0, 32);
    --primary-image: linear-gradient(120deg, rgb(25, 4, 32), rgb(44, 12, 56));
    --secondary-color: #D8BD53;
    --secondary-hover: #c0a846;
    --ternary-color: #6eddff;
    --parchment: #f0f0f0;
    --white: #fff;
    --heading-font: 'Rocker', serif;
    --body-font: 'Inria', serif;
    --success: #4CAF50;
    --danger: #C0392B;
    --grey: #bcbcbc;
}

html {
    background: var(--primary-image);
}

body {
    font-family: 'Inria', serif;
    color: var(--primary-color);
    background: url(../img/bg-design.svg) center / contain;
    background-size: 200vw 200vh;
}

main {
    padding-bottom: 20rem;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}


h1,
h2,
h3,
h4 {
    font-family: 'Rocker', sans-serif;  
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: clamp(2rem, 1.8182rem + 0.9091vw, 2.5rem);
    line-height: 1;
}

h3 {
    font-size: 2rem;
}

a {
    font-family: 'Rocker', sans-serif;  
    text-decoration: none;
}

nav {
    background-color: var(--secondary-color);
    padding: 0.5rem 0
}

nav a {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navigation a {
    flex: 1 1 200px;
    white-space: nowrap;
}

.navigation a:nth-of-type(2) {
    order: -1;
    flex: 1 1 430px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

}

@media (width > 650px) {

   .navigation {
        gap: 3rem;
    } 

    .navigation a {
        flex: unset !important;
    }

    .navigation a:nth-of-type(2) {
        order: unset;
        border-bottom: unset;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
}


.banner {
    text-align: center;
    color: var(--white);
    padding: clamp(5rem, 2.5rem + 10vw, 10rem) 0;
}

.banner h2 {
    font-size: clamp(2.5rem, 0.75rem + 7vw, 6rem);
}

.banner p {
    font-size: clamp(1.5rem, 1.25rem + 1vw, 2rem);
}

.banner-buttons {
    padding-top: 1rem;
}

.banner-buttons a {
    font-family: 'Rocker', sans-serif;  
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2rem;
    width: 100%;
    display: block;
    text-decoration: none
}

.banner-buttons a:first-of-type {
    margin-bottom: 1rem;
}

@media (width > 500px) {
    .banner-buttons {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .banner-buttons a {
        width: 300px;
    }

    .banner-buttons a:first-of-type {
        margin: 0;
    }
}

.banner-buttons a:hover {
    text-decoration: underline;
}

.search {
    color: var(--white);
}

.searchbar {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px rgb(221, 221, 221);
    margin-bottom: 0.5rem;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (width > 500px) {
    #card-grid  {
       grid-template-columns: repeat(2, 1fr); 
    }  
}

@media (width > 750px) {
    #card-grid  {
       grid-template-columns: repeat(3, 1fr); 
    }
}

@media (width > 1000px) {
    #card-grid  {
       grid-template-columns: repeat(4, 1fr); 
    }
}

#card-grid img {
    grid-column: span 1;
}

#load-more {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 0rem 0;
    max-width: 300px;
    margin: 2rem auto;
    font-family: 'Rocker', sans-serif;  
    font-size: 2rem;
}

#load-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mtg-card {
    border-radius: 5%;
    height: auto;
}

.dropdown-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    white-space: nowrap;
    width: 100%;
    border: none;
    align-items: center;
    line-height: 100%;
    height:36px;
    box-shadow: 0 5px var(--secondary-hover);
    margin-bottom: 0.5rem;
}

.dropdown-button svg,
.dropdown svg {
    max-width: 2rem;
}

.dropdown {
    background-color: rgba(0, 0, 0, 0.897);
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 1.25rem;
    width: 100%; 
    cursor: pointer;

    /* Animation */
    transition: 
        max-height 0.5s ease,
        transform 0.25s ease;
    max-height: 0;
    overflow: hidden;

}

@media (width > 1100px) {
    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .filters > div {
        flex: 1 1 200px;
    }

    .dropdown:not(.hidden) {
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.767);
    }
}

.filters > div {
    width: 100%;
}


.dropdown:not(.hidden) {
    /* Animation */
    max-height: 500px;
    transform: translateY(0);
}

.dropdown div:hover,
.dropdown-button:hover,
.clear-button:hover,
.selected,
.apply-filters:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--white);
}

.apply-filters {
    background-color: var(--success);
    box-shadow: 0 5px green;
    margin-bottom: 0.5rem;
}

.dropdown div {
    display: flex;
    justify-content: space-between;
    padding: 0.125rem 1.5rem;
}

.select {
    position: relative;
}

.hidden {
    max-height: 0;
}

.search main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.search form {
    padding-bottom: 2rem;
}

.top-filters {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-filters > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.top-filters > div > div {
    flex: 1 1 150px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filters > div:first-of-type {
    z-index: 10;
}

.filters > div:nth-of-type(2) {
    z-index: 9;
}

.filters > div:nth-of-type(3) {
    z-index: 8;
}

.filters > div:nth-of-type(4) {
    z-index: 7;
}

input {
    width: 100%;
    padding: 0rem 2rem;
    font-family: var(--heading-font) !important;
    font-size: 1.5rem !important;
    border: none;
}


.single-page {
    color: var(--white);
}

.big-mtg-card {
    margin: 1rem auto;
    max-width: 90%;
}

img.container {
    padding: 0;
}

.single-banner {
    background-color: var(--parchment);
    box-shadow: 0 5px #d1c8a2;
    color: var(--primary-color);
    padding: 1rem;
    padding-top: 3rem;
    corner-shape: bevel;
    width: 100%;
}

.single-banner h2 {
    word-break: break-word;
}

.single-banner.container {
    margin: unset;
    max-width: unset;
}

.type-line {
    font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
    font-family: var(--heading-font);
}

.flavor-text {
    font-style: italic;
    margin-top: 0.5rem;
}

.single-flex {
    align-items: flex-start;
}

.single-text {
    margin-top: -3rem;
    width:  100%;
}

.single-extras-flex {
    display: flex;
    flex-wrap: wrap;
}

.single-extras-flex.container {
    padding: 0;
}


.legalities {
    padding: 0 1rem;
    width: 100%;
}

.legalities h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.legal {
    background-color: var(--success);
    font-size: 1rem;
}

.not_legal {
    background-color: var(--grey);
    font-size: 1rem;
}

.restricted {
    background-color: #FBC02D;
    font-size: 1rem;
}

.banned {
    background-color: var(--danger);
    color: white;
    font-size: 1rem;
}

.legalities-table,
.prints-table {
    background-color: var(--parchment);
    color: var(--primary-color);
    font-family: var(--heading-font);
    corner-shape: bevel;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    flex: 1;
    font-size: 1.25rem;
}

.legalities-table tr td:last-of-type {
    padding: 0 2rem;
    white-space: nowrap;
}

.prints-table {
    font-size: 1rem;
    line-height: 1.875;
}

.prints-table td {
    text-align: left !important;
}

td {
    padding: 0 0.25rem;
    border: 1px solid var(--primary-color);
    width: 100%;
}

td a {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

table {
    width: 100%;
}

tr td:last-of-type {
    text-align: center;
}

.prints {
    flex: 1;
    padding: 0 1rem;
}

.prints-filler {
    background-color: var(--parchment);
}

.prints h2 {
    margin: 1rem 0;
}

.change-print-button:hover {
    background-color: var(--primary-color);

}

.change-print-button:hover > a {
    color: var(--white) !important;
}

.symbol {
    max-width: 1rem;
    display: inline;
    padding: 0 0.1rem;
}

.name-line .symbol {
    max-width: 2rem;
    width: 2rem;
}

.name-line {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.name-line div {
    align-items: center;
}

.back {
    background-color: unset;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
    padding: 3rem 0 1rem 2rem;
}

.back:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (width > 1130px) {
    table,
    .legalities {
        width: unset;
    }

    .prints {
        padding: 0;
    }

    .prints-table {
        width: 100%;
    }
    .single-banner{
        border-radius: 0 1rem 1rem 0;
        padding-top: 1rem;
    }

    .single-flex {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 1rem;
    }

    .single-text {
        margin-top: 2rem;
    }

    .big-mtg-card {
        margin: 0 auto;
        max-width: 50%;
    }

    .single-flex {
        padding-left: 2rem;
        display: flex;
    }
}

@media (width > 600px) {

    .searchbar {
        width: 100%;
        max-width: 400px;
    }

    #card-search {
        width: 100%;
    }
}